.Input {
    border: 1px solid #CCC;
    display: table-row;
}

.Item {
    display: table-cell;
    margin-top: 4px;
    margin-bottom: 4px;
}

.Label {
    color: blue;
    text-align: right;
    padding-right: 5px;
    width: auto;
    font-family: arial;
    font-size: larger;
}

.Control {
    border: 1px solid #AAA;
    width: 100%;
    font-family: arial;
    font-size: larger;
    padding-left: 3px;
}

.Control:focus {
    border: 1px solid lightskyblue;
}


